<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title,class: "form-control" %>
  </div>

  <% if params[:action] == 'edit' %>
    <div class="form-group">
      <%= form.label :slug %>
      <%= form.text_field :slug,class: "form-control" %>
    </div>
  <% end %>



  <div class="form-group">
    <%= form.label :state %>
    <%= form.select :state, ['draft', 'published'],class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content_url %>
    <%= form.text_field :content_url,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :picture %>
    <%= form.text_field :picture,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :picture_alt %>
    <%= form.text_field :picture_alt,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :published_at %>
    <%= form.text_field :published_at, class:"published_at_date form-control" %>
  </div><br>

    <%= form.submit nil, class: "btn btn-primary" %>
<% end %>
