<% content_for :title,  @blog.title %>
<% content_for :description,  @blog.short_content %>
<% content_for :blog_title do %>
<h3><%= @blog.title %></h3>
<div class="published_at"><%= @blog.published_at.strftime("%b %d, %Y")%> &middot; <%= (@blog.content.split(" ").count * (0.8/300)).ceil %> min read</div>
<% end %>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= @blog.content.html_safe %>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <h6 class="text-center">&#x2022;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x2022;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x2022;</h6>
  </div>
  <br>
  <div class="row justify-content-center contact">
    <div class="text-center">
      Follow Me on:
      <a href="https://medium.com/@ethi"><i class="fab fa-medium"></i> Medium </a>
      <a href="https://www.youtube.com/channel/UCkdAJA03TJXhb_tNjTyl_nA?sub_confirmation=1"><i class="fab fa-youtube"></i> Youtube </a>
      <a href="https://www.instagram.com/ethirajchandru/"><i class="fab fa-instagram"></i> Instagram </a>
      <a href="https://www.linkedin.com/in/ethirajsrinivasan/"><i class="fab fa-linkedin"></i>
      LinkedIn </a>
      <a href="https://github.com/ethirajsrinivasan/"><i class="fab fa-github"></i><span> Github </a>
      <a href="https://twitter.com/iamethi"><i class="fab fa-twitter"></i> Twitter </a>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <% if @previous_blog %>
      <div class="float-start mt-4">
        <div class="project_nav_link"><%= @previous_blog.title %></div>
        <%= link_to "&larr; Previous Blog".html_safe, @previous_blog %>
      </div>
      <% end %>
      <% if @next_blog %>
      <div class="float-end mt-4">
        <div class="project_nav_link"><%= @next_blog.title %></div>
        <%= link_to "Next Blog &rarr; ".html_safe, @next_blog %>
      </div>
      <% end %>
    </div>
  </div>
  <%= render "shared/disqus" %>
</div>
</div>
</div>
