<div class="<%= project.filter_types.to_s.gsub(',',' ') %>">
  <%= link_to portfolios_path(title: project.title), target: "_blank"  do %>
    <div class="project_thumbnail" style="background-image: url(<%="#{project.image_url}"%>)"></div>
    <div class="project_title">
      <%= project.title.titleize %>
      <br>
      <div class="greyish-light"><%= project.short_description %></div>
    </div>
  <% end %>
</div>