<% content_for :title, 'PortFolio' %>
<div class="body_wrapper">
  <h1>PortFolio</h1>
  <br>
  <div class="row">
    <div class="large-6 medium-6 small-12 columns">
      <%= text_field(:project, :search,id: :search,data:{href: portfolio_path },placeholder: "Search Projects eg: table2csv") %>
    </div>
    <div class="large-6 medium-6 small-12 columns">
      <div class="filters right">
        <span>
        <%= radio_button("project", "category", "all",data: {href: portfolios_filter_path}) %>
        <%= label(:project_category,:all ) %>
        </span>
        <span>
        <%= radio_button("project", "category", "web",data: {href: portfolios_filter_path})%>
        <%= label(:project_category,:web_application ) %>
        </span>
        <span>
        <%= radio_button("project", "category", "gems",data: {href: portfolios_filter_path}) %>
        <%= label(:project_category,:gems ) %>
        </span>
        <span>
        <%= radio_button("project", "category", "android",data: {href: portfolios_filter_path}) %>
        <%= label(:project_category,:android ) %>
        </span>
      </div>
    </div>
  </div>
  <%= render "portfolio" %>
</div>
