<div class="about-banner" style="background-image: url(<%="#{@project.image_url}"%>)"></div>
<div class="body_wrapper">
  <div class="row">
  	<div class="large-12 columns">
  		<h1 class="about-header"><%= @project.title.titleize %></h1>
      <section>
        <div class="section-heading"></div>
        <div class="section-body">
          <h3><%= @project.description %>
          </h3>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <aside class="about" style="background-color: <%= @project.color %>">
        <%= render "metadata", attribute: @project.duration, title: "Date" %>
        <%= render "metadata", attribute: @project.role, title: "Role" %>
        <%= render "metadata", attribute: @project.tools, title: "Tools " %>
        <%= render "metadata", attribute: @project.tasks, title: "Tasks" %>
        <%= render "metadata", attribute: @project.team, title: "Team" %>
        <%= render "metadata", attribute: @project.platform, title: "Platform" %>
        <%= render "metadata", attribute: @project.collaborators, title: "Collaborators" %>
      </aside>
      <div class="section-content">
        <%= render "section", attribute: @project.summary, title: "Summary" %>
        <%= render "project_links", project: @project %>
        <%= render "section", attribute: @project.learnings, title: "Learnings" %>
        <%= render "section", attribute: @project.appreciation, title: "Appreciation" %>
      </div>
    </div>
  </div>
</div>