<% content_for :title, @project.title.titleize %>
<!-- <div class="about-banner" style="background-image: url(<%="#{@project.image_url}"%>)"></div> -->
<div class="body_wrapper">
  <div class="row">
  	<div class="large-12 columns">
  		<h1><%= @project.title.titleize %></h1>
      <!-- <section>
        <div class="section-heading"></div>
        <div class="section-body">
          <h3><%= @project.description %>
          </h3>
        </div>
      </section> -->
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <aside class="about" style="background-color: <%= @project.color %>">
        <%= render "metadata", attribute: @project.duration, title: "Date" %>
        <%= render "metadata", attribute: @project.role, title: "Role" %>
        <%= render "metadata", attribute: @project.tools, title: "Tools " %>
        <%= render "metadata", attribute: @project.tasks, title: "Tasks" %>
        <%= render "metadata", attribute: @project.team, title: "Team" %>
        <%= render "metadata", attribute: @project.platform, title: "Platform" %>
        <%= render "metadata", attribute: @project.collaborators, title: "Collaborators" %>
      </aside>
      <div class="section-content">
        <% @project.sections.each do |section| %>
          <section>
            <div class="section-heading"><%= section.title %></div>
            <%= section.content.html_safe %>
          </section>
        <% end  %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="text-center like_project" data-href=<%= "#{portfolios_like_path(title: @project.title)}" %> ><%= image_tag("https://assets-ethi.appspot.com/images/heart.png",size: 25) %></div>
    <div class="text-center like_count"><%= @project.likes %></div>
  </div>
  <hr>
  <div class="traverse-section" %>
    <div class="row">
      <div class="large-12 columns">
        <% if @previous_project %>
          <div class="left" %>
            <div class="traverse"><%= @previous_project.title.titleize %></div>
            <%= link_to "&larr; Previous project".html_safe, portfolios_path(title: @previous_project.title) %>
          </div>
        <% end %>
        <% if @next_project %>
          <div class="right" %>
            <div class="traverse"><%= @next_project.title.titleize %></div>
            <div class="right"><%= link_to "Next project &rarr; ".html_safe, portfolios_path(title: @next_project.title) %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>