<% content_for :title, @project.title.titleize %>
<!-- <div class="about-banner" style="background-image: url(<%="#{@project.image_url}"%>)"></div> -->
<div class="body_wrapper">
  <div class="row">
  	<div class="large-12 columns">
  		<h1><%= @project.title.titleize %></h1>
      <!-- <section>
        <div class="section-heading"></div>
        <div class="section-body">
          <h3><%= @project.description %>
          </h3>
        </div>
      </section> -->
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <aside class="about" style="background-color: <%= @project.color %>">
        <%= render "metadata", attribute: @project.duration, title: "Date" %>
        <%= render "metadata", attribute: @project.role, title: "Role" %>
        <%= render "metadata", attribute: @project.tools, title: "Tools " %>
        <%= render "metadata", attribute: @project.tasks, title: "Tasks" %>
        <%= render "metadata", attribute: @project.team, title: "Team" %>
        <%= render "metadata", attribute: @project.platform, title: "Platform" %>
        <%= render "metadata", attribute: @project.collaborators, title: "Collaborators" %>
      </aside>
      <div class="section-content">
        <%= render "section", attribute: @project.summary, title: "Summary" %>
        <section>
          <div class="section-heading"></div>
          <div class="section-body">
            <div class="project_links">
              <h5>Project Links</h5>
              <ul>
                <li><strike><%= link_to "Project Repositry is private"%></strike></li>
              </ul>
            </div>
          </div>
        </section>
        <section>
          <div class="section-heading">Project Plan</div>
          <div class="section-body">
            <%= image_tag("capture.jpg") %>
          </div>
        </section>
        <section>
          <div class="section-heading">User Stories</div>
          <div class="section-body">As Agile Model was followed user requirements were captured in the form of user stories
            <%= image_tag("user_stories.jpeg") %>
          </div>
        </section>
        <section>
          <div class="section-heading">Product</div>
          <div class="section-body">Minimum Viable Product is yet to be released</div>
        </section>
        <%= render "section", attribute: @project.learnings, title: "Learnings" %>
        <%= render "section", attribute: @project.appreciation, title: "Appreciation" %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="text-center like_project" data-href=<%= "#{portfolios_like_path(title: @project.title)}" %> ><%= image_tag("heart.png",size: 25) %></div>
    <div class="text-center like_count"><%= @project.likes %></div>
  </div>
  <hr>
  <%= render 'pagination_project' %>
</div>