 <% content_for :title, @project.title.titleize %>
<!-- <div class="about-banner" style="background-image: url(<%="#{@project.image_url}"%>)"></div> -->
<div class="body_wrapper">
  <div class="row">
  	<div class="large-12 columns">
  		<h1><%= @project.title.titleize %></h1>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <aside class="about" style="background-color: <%= @project.color %>">
        <%= render "metadata", attribute: @project.duration, title: "Date" %>
        <%= render "metadata", attribute: @project.role, title: "Role" %>
        <%= render "metadata", attribute: @project.tools, title: "Tools " %>
        <%= render "metadata", attribute: @project.tasks, title: "Tasks" %>
        <%= render "metadata", attribute: @project.team, title: "Team" %>
        <%= render "metadata", attribute: @project.platform, title: "Platform" %>
        <%= render "metadata", attribute: @project.collaborators, title: "Collaborators" %>
      </aside>
      <div class="section-content">
        <%= render "section", attribute: @project.summary, title: "Summary" %>
        <%= render "project_links", project: @project %>
        <%= render "section", attribute: @project.learnings, title: "Learnings" %>
        <%= render "section", attribute: @project.appreciation, title: "Appreciation" %>
        <section>
          <div class="section-heading">Data Extraction</div>
          <div class="section-body">Graph data of facebook users were extracted using 
          <%= link_to "LostCircle", "https://lostcircles.com/",target: "_blank" %> , a chrome extension. Data was extracted in graphml format
          </div>
        </section>
        <section>
          <div class="section-heading">Visualistation</div>
          <div class="section-body">Graph was visualised with 
            <%= link_to "Lost Circle", "https://lostcircles.com/",target: "_blank" %>
            and
            <%= link_to "Gephi", "https://gephi.org/",target: "_blank" %>
            <br>
            <br>
            <div class="row">
              <div class="large-6 columns">
                <%= image_tag("lost_circle_visualization.jpg", class: "img-med") %>
                <h4 class="text-center">
                  <small>Social Network Visulaization in lost circle</small>
                </h4>
              </div>
              <div class="large-6 columns">
                <%= image_tag("lost_circle_visualization1.png", class: "img-med") %>
                <h4 class="text-center">
                  <small>Expanded View</small>
                </h4>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="large-6 columns">
                <%= image_tag("gephi_visualisation.jpg", class: "img-med") %>
                <h4 class="text-center">
                  <small>Fruchterman Reingold View in Gephi</small>
                </h4>
              </div>
              <div class="large-6 columns">
                <%= image_tag("gephi_visualisation1.png", class: "img-med") %>
                <h4 class="text-center">
                  <small>MultiGravity ForceAtlas2 View in Gephi</small>
                </h4>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-heading">Community</div>
          <div class="section-body">
            Communities were detected using modularity class in Gephi. Communities visualized manually, in lost circle was in correspondence with the communities obtained from gephi
            <br>
            <br>
            <div class="row">
              <div class="large-6 columns">
                <%= image_tag("gephi_visualisation1.png", class: "img-med") %>
                <h4 class="text-center">
                  <small>Communties identified in Gephi</small>
                </h4>
              </div>
              <div class="large-6 columns">
                <%= image_tag("modularity_class.png", class: "img-med") %>
                <h4 class="text-center">
                  <small>Distribution of community in Gephi</small>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="large-6 large-centered columns">
                <%= image_tag("lost_circle_community.jpg", class: "img-med") %>
                <h4 class="text-center">
                  <small>Communities identified in Lost Circle</small>
                </h4>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-heading">Key Players</div>
          <div class="section-body">
            Out of 8 communties obtained 2 communities was studied extensively. Community Statistics and Key Players were identified for each of the communities. Key Players were also visualised in lost circle Network
            <br>
            <br>
            <div class="row">
              <div class="large-6 columns">
                <%= image_tag("community_statistics.png", class: "img-med") %>
                <h4 class="text-center">
                  <small>Community Statistics in Gephi</small>
                </h4>
              </div>
              <div class="large-6 columns">
                <%= image_tag("community_statistics_graph.jpeg", class: "img-med") %>
                <h4 class="text-center">
                  <small>Key Player Identification in Gephi</small>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="large-6 large-centered columns">
                <%= image_tag("key_player.jpg") %>
                <h4 class="text-center">
                  <small>Key Player visualised in Lost Circle</small>
                </h4>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="large-6 columns">
                <%= image_tag("community_statistics1.png", class: "img-med") %>
                <h4 class="text-center">
                  <small>Community Statistics in Gephi</small>
                </h4>
              </div>
              <div class="large-6 columns">
                <%= image_tag("community_statistics_graph1.jpeg", class: "img-med") %>
                <h4 class="text-center">
                  <small>Key Player Identification in Gephi</small>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="large-6 large-centered columns">
                <%= image_tag("key_player_1.jpg") %>
                <h4 class="text-center">
                  <small>Key Player visualised in Lost Circle</small>
                </h4>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-heading">Expansion</div>
          <div class="section-body">This 
            <%= link_to "link","https://github.com/ GraphProcessor/CommunityDetectionCodes#algorithms" %>
            provides various algorithms  for seed set expansion of which 
            <%= link_to "LEMON","https://github.com/YixuanLi/LEMON" %>
            algorithm achieved the state of the art. The two communities studied above was expanded using this algorithm.The expanded communities are shown in the images below
            <br>
            <br>
            <div class="row">
              <div class="large-12 columns">
                <%= image_tag("iss_lemon.png", class: "img-code") %>
                <h4 class="text-center">
                  <small>Seed Expansion for Community 1</small>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= image_tag("friend_lemon.png", class: "img-code") %>
                <h4 class="text-center">
                  <small>Seed Expansion for Community 2</small>
                </h4>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="text-center like_project" data-href=<%= "#{portfolios_like_path(title: @project.title)}" %> ><%= image_tag("heart.png",size: 25) %></div>
    <div class="text-center like_count"><%= @project.likes %></div>
  </div>
  <hr>
  <%= render 'pagination_project' %>
</div>