<% content_for :title, @project.title.titleize %>
<!-- <div class="about-banner" style="background-image: url(<%="#{@project.image_url}"%>)"></div> -->
<div class="body_wrapper">
  <div class="row">
  	<div class="large-12 columns">
  		<h1><%= @project.title.titleize %></h1>
      <!-- <section>
        <div class="section-heading"></div>
        <div class="section-body">
          <h3><%= @project.description %>
          </h3>
        </div>
      </section> -->
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <aside class="about" style="background-color: <%= @project.color %>">
        <%= render "metadata", attribute: @project.duration, title: "Date" %>
        <%= render "metadata", attribute: @project.role, title: "Role" %>
        <%= render "metadata", attribute: @project.tools, title: "Tools " %>
        <%= render "metadata", attribute: @project.tasks, title: "Tasks" %>
        <%= render "metadata", attribute: @project.team, title: "Team" %>
        <%= render "metadata", attribute: @project.platform, title: "Platform" %>
        <%= render "metadata", attribute: @project.collaborators, title: "Collaborators" %>
      </aside>
      <div class="section-content">
        <%= render "section", attribute: @project.summary, title: "Summary" %>
        <%= render "project_links", project: @project %>
        <%= render "section", attribute: @project.learnings, title: "Learnings" %>
        <%= render "section", attribute: @project.appreciation, title: "Appreciation" %>
        <section>
          <div class="section-heading">Demo</div>
          <div class="section-body">
            <div class="row">
              <div class="large-8 medium-8 large-centered medium-centered columns">
                <div class="flex-video">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/poZ0JIMNDbY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="text-center like_project" data-href=<%= "#{portfolios_like_path(title: @project.title)}" %> ><%= image_tag("heart.png",size: 25) %></div>
    <div class="text-center like_count"><%= @project.likes %></div>
  </div>
  <hr>
  <%= render 'pagination_project' %>
</div>