<%= content_for :title, "Ethiraj Srinivasan" %>
<div class="body_wrapper">
	<h1>I'm Ethiraj, a Full Stack Engineer and Data Scientist</h1>
	<div class="intro-description">
		<h5 class="greyish">I love to create  and redesign products, the way users cherish.
		</h5>
	</div>
	<div class="row project_stack">
		<div class="large-3 columns">
			<div class="panel  radius">
			  <%= image_tag("ml.png",class: 'image_project_header') %>
			  <h4 class="text-center project_domain_header">Machine Learning</h4>
			  <p class="text-justify">After my bachelor's degree, certain topics like influence propogation, word of mouth effect and community detection from social network boosted my interest towards Machine Learning. I extensively build my knowledge on Machine learning from the electives and projects I had during my masters course. Some of my machine learning projects are listed below</p>
			  <ul>
			  	<% @ml_projects.each do |project| %>
			  	<li><%= link_to project.title.titleize, portfolios_path(title: project.title), target: "_blank" %></li>
			  	<% end %>
			  </ul>
			</div>
		</div>
		<div class="large-3 columns">
			<div class="panel  radius">
			  <%= image_tag("web.png",class: 'image_project_header') %>
			  <h4 class="text-center project_domain_header">Web Application</h4>
			  <p class="text-justify">I build my expertise on web application during my career. I progressively build knowledge on web technologies and frameworks especially ruby on rails and implemented state of the art technologies to improve performance of web applications. As a hobby, I developed some of my own projects which can be seen in the links below</p>
		    <ul>
		    	<% @web_projects.each do |project| %>
		    	<li><%= link_to project.title.titleize, portfolios_path(title: project.title), target: "_blank" %></li>
			  	<% end %>
		    </ul>
			</div>
		</div>
		<div class="large-3 columns">
			<div class="panel  radius">
			  <%= image_tag("rubygems.png",class: 'image_project_header') %>
			  <h4 class="text-center project_domain_header">Ruby Gems</h4>
			  <p class="text-justify">While developing web applications I made use of many quality gems to effectively utilise my time. All these gems are open source. It is a contribution to the ruby community. I wanted to contribute to the community and began my journey of open source contribution. I created some gems and became collabarator for few gems. These gems are listed below</p>
			  <ul>
			  	<% @gems_projects.each do |project| %>
			  	<li><%= link_to project.title.titleize, portfolios_path(title: project.title), target: "_blank" %></li>
			  	<% end %>
			  </ul>
			</div>
		</div>
		<div class="large-3 columns">
			<div class="panel  radius">
			  <%= image_tag("android.png",class: 'image_project_header') %>
			  <h4 class="text-center project_domain_header">Android Apps</h4>
			  <p class="text-justify">With the advent of smartphones, large number of applications for android OS were created. Developers all over the world created great applications in a day or two. This raised my interest to develop my own utility applications. These small applications helped me to develop application for general use. These applications are as follows</p>
			  <ul>
			  	<% @android_projects.each do |project| %>
			  	<li><%= link_to project.title.titleize, portfolios_path(title: project.title), target: "_blank" %></li>
			  	<% end %>
			  </ul>
			</div>
		</div>
	</div>
	
</div>