<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.text_field :role %>
  </div>

  <div class="field">
    <%= f.label :tools %>
    <%= f.text_field :tools %>
  </div>

  <div class="field">
    <%= f.label :tasks %>
    <%= f.text_field :tasks %>
  </div>

  <div class="field">
    <%= f.label :team %>
    <%= f.text_field :team %>
  </div>

  <div class="field">
    <%= f.label :platform %>
    <%= f.text_field :platform %>
  </div>

  <div class="field">
    <%= f.label :collaborators %>
    <%= f.text_field :collaborators %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color , class: "colorpicker"%>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= text_area(:project ,:image_url, rows:10)%>
  </div>

  <div class="field">
    <%= f.label :likes %>
    <%= f.text_field :likes %>
  </div>

  <div class="field">
    <%= f.label :filter_types %>
    <%= f.text_field :filter_types %>
  </div>

  <div class="field">
    <%= f.label :order %>
    <%= f.text_field :order %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
