<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration %>
    <%= f.text_field :duration,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :role %>
    <%= f.text_field :role,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tools %>
    <%= f.text_field :tools,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tasks %>
    <%= f.text_field :tasks,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :team %>
    <%= f.text_field :team,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :platform %>
    <%= f.text_field :platform,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :collaborators %>
    <%= f.text_field :collaborators,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :color %>
    <%= f.text_field :color , class: "colorpicker"%>
  </div>

  <div class="form-group">
    <%= f.label :image_url %>
    <%= text_area(:project ,:image_url, rows:10,class: "form-control")%>
  </div>

  <div class="form-group">
    <%= f.label :likes %>
    <%= f.text_field :likes,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :filter_types %>
    <%= f.text_field :filter_types,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :order %>
    <%= f.text_field :order,class: "form-control" %>
  </div>

    <%= f.submit nil, class:"btn btn-primary"%>
<% end %>
