<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  
    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "My Site", root_path %></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><%= link_to "PORTFOLIO", portfolio_path %></li>
            <li><%= link_to "ABOUT", about_path %></li>
            <li><a href="#">RESUME</a></li>
            <li><a href="http://blog.ethigeek.com">BLOG</a></li>
            <li><%= link_to "CONTACT", contact_path %></li>
          </ul>

        </section>
      </nav>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="large-12 columns text-center">
          <ul class="inline-list social-list">
            <li><a class="fi-social-github" href="https://github.com/ethirajsrinivasan"></a></li>
            <li><a class="fi-social-twitter" href="https://twitter.com/iamethi"></a></li>
            <li><a class="fi-social-linkedin" href="https://in.linkedin.com/in/ethirajsrinivasan"></a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </body>
</html>
