<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= content_for?(:title) ? yield(:title) : "ethigeek" %></title>
		<%= stylesheet_link_tag    "application" %>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
		<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag 'favicon.ico' %>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8495931515801704"
     crossorigin="anonymous"></script>
	</head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S8HN948EZZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S8HN948EZZ');
</script>
	<body class="blog_body" data-spy="scroll" data-target="#navbar-scrollspy" data-offset="200">
		<section class="cover text-center" style="background-image: url(<%= "#{header_image}" %>)">
			<nav class="navbar navbar-expand-lg navbar-trans navbar-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/"><strong>Ethiraj Srinivasan</strong></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav ms-auto">
							<a class="nav-link" href="/resume" target="_blank">Resume</a>
							<a class="nav-link" href="/#portfolio">Portfolio</a>
							<a class="nav-link" href="/blogs">Blog</a>
							<a class="nav-link" href="/about">About</a>
							<% if valid_user? %>
							<li class="nav-item"><%= link_to 'Log Out', destroy_user_session_path, method: :delete,class: "nav-link" %></li>
							<% end %>
						</div>
					</div>
				</div>
			</nav>
			<% if params[:controller] == "home" and params[:action] == "show" %>
			<div class="container">
				<div class="row intro justify-content-center">
					<div class="col">
						<% if content_for(:blog_title) %>
						<%= yield(:blog_title) %>
						<% else %>
						<h3><span class="title">blog</span></h3>
						<% end %>
					</div>
				</div>
			</div>
			<% end %>
		</section>
		<%= yield %>
		<div class="spacer"></div>
		<footer class="footer fixed-bottom">
			<div class="container">
				<ul class="list-inline d-flex justify-content-center">
					<li class="list-inline-item"><a target="_blank" class="fab fa-medium" href="https://medium.com/@ethi"></a></li>
          <li class="list-inline-item"><a target="_blank" class="fab fa-youtube" href="https://www.youtube.com/channel/UCkdAJA03TJXhb_tNjTyl_nA?sub_confirmation=1"></a></li>
          <li class="list-inline-item"><a target="_blank" class="fab fa-instagram" href="https://www.instagram.com/ethirajchandru/"></a></li>
          <li class="list-inline-item"><a target="_blank" class="fab fa-linkedin" href="https://in.linkedin.com/in/ethirajsrinivasan"></a></li>
          <li class="list-inline-item"><a target="_blank" class="fab fa-github" href="https://github.com/
          ethirajsrinivasan"></a></li>
          <li class="list-inline-item"><a target="_blank" class="fab fa-twitter" href="https://twitter.com/iamethi"></a></li>
				</ul>
			</div>
		</footer>
	</body>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-66415800-8', 'auto');
	ga('send', 'pageview');
	</script>
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script>
		AOS.init({
			offset: 200,
			duration: 600,
			easing: 'ease-in-sine',
			delay: 100,
		});
	</script>
</html>